* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F4F2F2;
  background-image: url("../img/wave.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100vh;
  overflow: hidden;

}

header svg {
  width: 200px;
  height: auto;
}

button {
  text-align: center;
}

header {
  margin-top: 40px;
}

main {
  margin-top: 40px;
}

.title {
  width: 250px;
}

.big-number {
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  color: #FF3463;
}

.red-btn {
  display: block;
  width: 100%;
  margin-top: 36px;
  background-color: #FF3463;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 0px;
  border-radius: 40px;
  transition: 0.1s;
}

.red-btn:hover {
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 24px 6px #cccccc;
}

.purple-btn {
  display: block;
  width: 100%;
  margin-top: 36px;
  background-color: #545DFF;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  border-width: 0px;
  border-radius: 40px;
  transition: 0.1s;
}

.purple-btn:hover {
  text-decoration: none;
  color: white;
  box-shadow: 2px 2px 24px 6px #cccccc;
}

.small-link {
  display: inline-block;
  margin-top: 12px;
  color: gray;
  text-decoration: none;
}

.small-link:hover {
  color: darkgray;
  text-decoration: none;
}

#page2,
#page3 {
  display: none;
}

.content {
  padding: 30px;
  background-color: white;
  border-width: 0px;
  border-radius: 12px;
  margin: 12px;
  margin-bottom: 60px;
}

.emphasised {
  font-weight: 700;
  color: #666;
  font-size: 200%;
}

label {
  font-size: 12px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  z-index: 100;
  height: 50vh;
  width: 400px;
}
